<configuration scan="true">

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${user.home}/.smartammutil/logs/sequenceExecuterApplicationInternal.log</file>
 	    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
 	      <fileNamePattern>${user.home}/.smartammutil/logs/sequenceExecuterApplicationInternal.%i.log</fileNamePattern>
	      <minIndex>1</minIndex>
	      <maxIndex>10</maxIndex>
	    </rollingPolicy>
	    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
	      <maxFileSize>10MB</maxFileSize>
	    </triggeringPolicy>
	    <encoder>
	      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	    </encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	  <!-- encoders are assigned the type
	       ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
	  <encoder>
	    <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	  </encoder>
	</appender>

	<logger name="org.apache.activemq" level="WARN"/>
	<logger name="org.apache.mina" level="WARN"/>
	<logger name="com.develco.protocol" level="WARN"/>	

	<root level="WARN">
		<appender-ref ref="FILE" />
	</root>
  
</configuration>
